<div class="container-fluid align-items-stretch bg-secondary">
<div class= "text-light  d-flex align-content-end flex-wrap ">
<div class="center jumbotron bg-secondary">  

  <%= link_to "Retour au choix du film par ici", '/', method: :get%>
  <br/>
  <h3> Ta recherche donne le résultat suivant : (les films sont classés par popularité)</h3>
	<br/>
  <table class="table">
	<thead>
	  <tr>
      <td>Affiche du film</td>
      <td>Nom du film</td>
	  	<td>Nom original du film</td>
			<td>Date de sortie</td>
			<td>Réalisateur</td>
		</tr>
	</thead>
	<tbody>
	<% @movies.each do |movie| %>
	  <tr>
      <td><img src="https://image.tmdb.org/t/p/w92<%=movie[:movie].poster_path%>"></td>
		  <td><%= movie[:movie].title %></td>
		  <td><%= movie[:movie].original_title  %></td>
      <% if movie[:movie].release_date == ""%>
        <td>À paraître</td>
      <%else%>
        <td><%= movie[:movie].release_date %></td>
      <%end%>
		  <td><%= movie[:director] %></td>
	  </tr>
  <% end %>

</div>
</div>
</div>